# tcpserver http controller - settings

# controller script settings
limit_execution_time='true' # exit controller on timeout
timeout_command='timeout'
max_execution_time='30' # seconds

# tcpserver settings
tcpserver_ip_address='0'
tcpserver_port='8080'
tcpserver_command='tcpserver'
tcpserver_additional_parameters=''

# Temporary directory (tmpfs recommended)
temporary_directory="./tmp"
temporary_directory_clear_on_start='true'

# Log settings
log_enabled='true'
log_date_format='+%Y.%M.%d %H:%M:%S'
log_file='' # log to console if empty
