# /shared routing
if [ -d './resources/shared' ]; then
	# shared directory exists - routing is valid

	# sanitize URI
	REQUEST_URI="$(echo -n "${REQUEST_URI%\?*}" | sed 's/\.\.//g')"

	# convert %20 to spaces
	REQUEST_URI="$(echo -n "${REQUEST_URI}" | sed 's/%20/ /g')"

	if [ -f "./resources${REQUEST_URI}" ]; then
		# send file
		printFile "./resources${REQUEST_URI}" "$(file --mime-type "./resources${REQUEST_URI}" | awk '{print $2}')" '200'
	elif [ -d "./resources${REQUEST_URI}" ]; then
		# list directory
		renderFile './resources/html/shared.rc' 'text/html' '200'
	else
		# not found
		log " e output ./resources${REQUEST_URI} 404"
		printFile './resources/html/404.html' 'text/html' '404'
	fi
else
	# not found
	log ' e filesharing disabled 404'
	printFile './resources/html/404.html' 'text/html' '404'
fi
