### Share files via http
### (simple controller demo)

# patch tempFile variable
tempFile="$(readlink -f "${tempFile}")"

# go to the directory
REQUEST_URI="${REQUEST_URI%\?*}"
pwd="$(pwd)"
cd "./resources${REQUEST_URI}"

readStream << EOF > "${tempFile}"
<!DOCTYPE html>
<html>
	<head>
		<title>Rendering test</title>
		<meta charset="utf-8">
		<link rel="icon" href="/favicon.ico">
		<style>
			body {
				margin: 0;
				padding: 20px;
				background-color: #000000;
				color: #ffffff;
			}
			a, a:hover, a:visited {
				text-decoration: none;
				color: #ffffff;
			}
		</style>
	</head>
	<body>
		<h1>Shared files</h1>
EOF

for i in *; do
	if [ "${i}" = '*' ]; then
		echo '<h3>Empty</h3>' >> "${tempFile}"
		break
	fi

	[ -f "./${i}" ] && link_prefix='[f] '
	[ -d "./${i}" ] && link_prefix='[d] '

	echo '<a href="'"${REQUEST_URI}/${i}"'">'"${link_prefix}${i}"'</a><br>' >> "${tempFile}"
done

readStream << EOF >> "${tempFile}"
	</body>
</html>
EOF

cd "${pwd}"
unset pwd
