# /media routing
if [ -f ".${REQUEST_URI}" ]; then
	# send file
	printFile ".${REQUEST_URI}" "$(file -b --mime-type ".${REQUEST_URI}")" '200' '3600'
elif [ -f ".${REQUEST_URI}.gz" ]; then
	# send file with gzip headers
	log " i sending gzipped file .${REQUEST_URI}.gz"
	printFile ".${REQUEST_URI}.gz" "$(file -b --mime-type ".${REQUEST_URI}")" '200' '3600' 'gzip'
else
	# not found
	printFile './html/404.html' 'text/html' '404'
fi
